.main-footer {
  padding-top: 60px;
  padding-bottom: 10px;
  border-bottom: 10px solid #FFA949;
  clear: both;
  color: #808080;
}
.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding-right: 9px;
}
.social-mail {
  width: 50px;
  padding: 0;
  height: 68px;
  margin: 0 0 -19px -5px;
}
.social-linkedin {
  width: 30px;
}
