/* =================================
  this are the styles for the desktop
  navigation
==================================== */

.main_header {
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  width: 100%;
  top: 0;
  z-index: 1000;
}
.main_header {
	padding-top: .7em;
	padding-bottom: .7em;
}
.logo {
  font-size: 1.5em;
  margin-left: 2em;
}
.logo a {
	margin: 0;
  text-decoration: none;
  color: #ffa949;
  font-weight: bold
}
.bar_navitagion {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.bar_nav_items a {
  text-decoration: none;
  color: #093a58;
}
.bar_nav_items a:hover,
.bar_nav_items a:active {
  color: #3acec2;
  font-weight: bolder;
}
.bar_nav_items ul {
  list-style: none;
  display: flex;
}
.bar_nav_items li {
  padding: 0 0.5rem;
  font-weight: bolder;
}
.spacer {
  flex: 1;
}
@media (max-width: 768px) {
  .bar_nav_items {
    display: none;
  }
}
@media (min-width: 769px){
  .nav_toggle_button {
    display: none;
  }
}
