.potogold {
    padding-top: 20%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.25em;
    line-height: 1.6;
  }
  .potogold h2 {
    color: rgb(68, 113, 196);
  }

@media screen and (min-width: 1025px) {
  .potogold {
    width: 60%;
    padding-top: 8%;
    margin: auto;
    font-size: 1.25em;
    line-height: 1.6;
  }
}