
img {
    max-width: 100%;
}
.gallery {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0;
    list-style: none;
  }
#imageGallery li:hover{
    transform: scale(1.05);
}
.gallery ul {
    padding: 0;
}
.gallery li {
    list-style: none;
    float: left;
    width: 45%;
    margin: 2.5%;
}
#imageGallery {
    margin: 0;
    padding: 0;
}

#imageGallery img{
    border-radius: 10px;
}

@media all and (min-width:500px) {
    
    .gallery li {
        width: 28.3333%;
    }
}
